extends ../templates/page.pug

block variables
    - var title = "Test Page Title"

block content
    h1 Qui duis ea laboris ad do veniam.
    p Cupidatat laboris velit culpa aute esse id exercitation fugiat ex sit nisi veniam. Amet dolor labore adipisicing quis ea officia dolore cillum amet irure amet elit. Ut nulla ullamco magna dolor cupidatat magna anim. Amet magna dolor nulla deserunt anim voluptate excepteur amet incididunt laborum ea ullamco. Non Lorem pariatur Lorem in ipsum ex enim laboris cupidatat in. Pariatur nisi nisi consectetur fugiat sint et commodo est aliquip elit ad ex.